geopandas==1.0.1
ipykernel==6.29.5
ipython==8.30.0
ipywidgets==8.1.5
joblib==1.4.2
kiwisolver==1.4.8
libpysal==4.12.1
matplotlib==3.10.0
matplotlib-inline==0.1.6
mgwr==2.2.1
numpy==2.2.3
pandas==2.2.3
pillow==11.1.0
pip==25.0
pyogrio==0.10.0
pyparsing==3.2.1
pyproj==3.7.1
PyQt5==5.15.10
PyQt5_sip==12.13.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-json-logger==3.2.1
pytz==2025.1
PyYAML==6.0.2
pyzmq==26.2.0
qtconsole==5.6.1
QtPy==2.4.1
rasterio==1.4.3
referencing==0.30.2
requests==2.32.3
rpds-py==0.22.3
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
Send2Trash==1.8.2
setuptools==75.8.0
shapely==2.0.7
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
spglm==1.1.0
spreg==1.8.2
statsmodels==0.14.4
terminado==0.17.1
threadpoolctl==3.5.0
wheel==0.45.1
