geopandas==1.0.1
libpysal==4.12.1
matplotlib==3.10.0
mgwr==2.2.1
numpy==2.2.3
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
shapely==2.0.7
spglm==1.1.0
spreg==1.8.2
statsmodels==0.14.4
